.small-card-img-format {
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-img-format img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.big-card-img-format {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-card-img-format img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f8f9fa;
    z-index: 10;
}

.fullscreen-menu .nav-link {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.sidenav-animated {
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.sidenav-animated.show {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  #sidenav {
    width: 100% !important;
  }
}

.rating {
  direction: rtl;
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}